In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/pleiades/pleiades-names.csv")

In [3]:
df.columns

Index(['authors', 'bbox', 'created', 'creators', 'currentVersion',
       'description', 'extent', 'id', 'locationPrecision', 'maxDate',
       'minDate', 'modified', 'nameAttested', 'nameLanguage',
       'nameTransliterated', 'path', 'pid', 'reprLat', 'reprLatLong',
       'reprLong', 'tags', 'timePeriods', 'timePeriodsKeys',
       'timePeriodsRange', 'title', 'uid'],
      dtype='object')

In [4]:
df_filtered = df[["nameAttested", "nameLanguage", "nameTransliterated", "reprLat", "reprLong", "title"]]
df_filtered.head(10)

,nameAttested,nameLanguage,nameTransliterated,reprLat,reprLong,title
0,NaN,NaN,Consabura,39.460299,-3.606772,Consabura
1,NaN,NaN,Consabrum,39.460299,-3.606772,Consabrum
2,NaN,NaN,Kondabora,39.460299,-3.606772,Kondabora
3,Consaburrenses,la,Consaburrenses,39.460299,-3.606772,Consaburrenses
4,Contestania,la,Contestania,38.500000,-1.500000,Contestania
5,NaN,NaN,Contestani,38.500000,-1.500000,Contestani
6,NaN,NaN,Dianium,38.842795,0.107511,Dianium
7,NaN,NaN,Hemeroskopeion,38.842795,0.107511,Hemeroskopeion
8,Dénia,ca-valencia,"Dénia, Denia",NaN,NaN,Dénia
9,NaN,NaN,Ebura,37.463838,-3.924959,Ebura

In [5]:
namesTransliterated = np.array(df["nameTransliterated"], dtype=str)
namesTransliterated

array(['Consabura', 'Consabrum', 'Kondabora', ..., 'Amaltheum',
       'Lago del Matese', 'Anfiteatro di Alba Fucens'], dtype='<U413')

In [6]:
names = np.array(pd.read_csv("../data/output/phi0474.phi056.perseus-lat1/sorted_locs.csv", quotechar='"'), dtype=str)[:, 0]
names

array(['Alexandrium', 'Allobrogibus', 'Alyzia', 'Arpinati', 'Astura',
       'Athens', 'Attici Ficuleano house', 'Brindisium', 'Brundisium',
       'Caesars', 'Campania', 'Capua', 'Cilicia', 'Corcyra', 'Corduba',
       'Cumanum', 'Cyprum', 'Dertona', 'Dyrrhachium', 'Eporedia',
       'Formium', 'Gallia', 'Hispania', 'Iconium', 'Intimilium',
       'Lanuvium', 'Laterium', 'Latium', 'Laudicea', 'Lepidus', 'Maium',
       'Menturnis', 'Mopsuhestia', 'Mytilens', 'Narona', 'Neapolium',
       'Parma', 'Patra', 'Perga', 'Pindenessus', 'Pindenissus',
       'Pollentia', 'Pompeiano house', 'Pomptinum', 'Ponte', 'Pyramus',
       'Regium', 'Rhodium', 'Roma', 'Sicilia', 'Sidae', 'Syria',
       'Tadolics', 'Tarsium', 'Thessalonica', 'Tusculanum', 'Velia',
       'Vercells', 'Voconium'], dtype='<U22')

In [7]:
np.isin(names, namesTransliterated)

array([False, False,  True, False,  True,  True, False, False,  True,
       False,  True,  True,  True,  True,  True, False, False,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True, False, False, False,  True, False, False,  True, False,
        True,  True, False, False, False,  True, False, False, False,
       False,  True, False, False,  True, False,  True, False, False,
        True, False,  True, False, False])

In [8]:
for name in names:
    index_list = np.where(name == namesTransliterated)[0]
    if len(index_list) > 0:
        print(index_list)
        print(df[["title", "reprLat", "reprLong"]].iloc[index_list])

[21925]
        title    reprLat   reprLong
21925  Alyzia  38.713373  20.951657
[ 6045 11520 31183]
        title    reprLat   reprLong
6045   Astura        NaN        NaN
11520  Astura  41.408855  12.765272
31183  Astura        NaN        NaN
[19957]
        title  reprLat  reprLong
19957  Athens      NaN       NaN
[12174]
            title    reprLat   reprLong
12174  Brundisium  40.638663  17.942912
[11550 27644]
          title  reprLat  reprLong
11550  Campania    41.25     14.25
27644  Campania      NaN       NaN
[11562]
       title    reprLat   reprLong
11562  Capua  41.086092  14.250207
[ 4371 15391 25699 27493]
         title  reprLat  reprLong
4371   Cilicia    38.25     35.75
15391  Cilicia      NaN       NaN
25699  Cilicia      NaN       NaN
27493  Cilicia      NaN       NaN
[21969 21972]
         title    reprLat  reprLong
21969  Corcyra  39.606285  19.91558
21972  Corcyra  39.750000  19.75000
[20613]
         title    reprLat  reprLong
20613  Corduba  37.884683 -4.779171
[2081]
        title    reprLat  reprLong
2081  Dertona  44.897171  8.865452
[22343]
             title    reprLat   reprLong
22343  Dyrrhachium  41.314409  19.447355
[2091]
         title    reprLat  reprLong
2091  Eporedia  45.466604  7.875942
[27696]
        title  reprLat  reprLong
27696  Gallia      NaN       NaN
[33873]
          title  reprLat  reprLong
33873  Hispania      NaN       NaN
[14944]
         title    reprLat   reprLong
14944  Iconium  37.872202  32.492331
[31234]
          title    reprLat   reprLong
31234  Lanuvium  41.674703  12.697593
[11964]
          title  reprLat  reprLong
11964  Laterium      NaN       NaN
[11656]
        title  reprLat  reprLong
11656  Latium      NaN       NaN
[11688]
           title    reprLat   reprLong
11688  Menturnis  41.242193  13.768467
[25335]
        title    reprLat   reprLong
25335  Narona  43.063722  17.613419
[2187 2188 2190 2192]
      title    reprLat   reprLong
2187  Parma  44.801507  10.327967
2188  Parma  44.801507  10.327967
2190  Parma        NaN        NaN
2192  Parma  44.750000  10.250000
[19145]
       title    reprLat   reprLong
19145  Patra  38.248795  21.734916
[ 123 2198]
          title    reprLat  reprLong
123   Pollentia        NaN       NaN
2198  Pollentia  44.686768  7.895976
[15913]
        title    reprLat   reprLong
15913  Regium  38.110708  15.647027
[14377 25714 27532]
         title  reprLat  reprLong
14377  Sicilia    37.75     13.25
25714  Sicilia      NaN       NaN
27532  Sicilia      NaN       NaN
[  564 21272 27533 28682]
       title  reprLat  reprLong
564    Syria     37.5      37.5
21272  Syria      NaN       NaN
27533  Syria      NaN       NaN
28682  Syria      NaN       NaN
[23133]
              title    reprLat   reprLong
23133  Thessalonica  40.634097  22.951647
[ 6092  6093 12067 15976]
       title    reprLat   reprLong
6092   Velia        NaN        NaN
6093   Velia        NaN        NaN
12067  Velia        NaN        NaN
15976  Velia  40.160744  15.155092